<style type="text/css">
html{
	background: #333333;
}
.wrapper{
	width: 100%;
	height: 100%;
	background: #333333;
	text-align: center;
}

#msg{
	margin: 25% 10% 25% 10%;
	text-align: center;
	background: #e3e3e3;
	padding: 10%;
	box-shadow: 0px 0px 2px 2px #888888;
}
h2{
	font-weight: 100;
	font-family: Arial;
	font-size: 25px;
	line-height: 1.5;
}	
</style>

<div class='wrapper'>
	<div id='msg'>
		<h2>You have reached the maximum number of popups allowed. To get more popups visit : <a href="http://rocketplugins.com/popup-revolution/"><strong>Premium Version</strong></a></h2>
	</div>
</div>